<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>添加磁盘</title>
</head>
<body>
<div>
    <section id="onedrive">
        ::before
        <form action="add-disk/onedrive" method="post">
            <p><label><input name="disk" value="onedrive" hidden></label></p>
            <p><label>Tag Name: <input name="tag_name"></label></p>
            <p><label>Description: <input name="description"></label></p>
            <p><label>Client ID :<input name="client_id"></label></p>
            <p><label>client Secret:<input name="client_secret"></label></p>
            <p><label><input type="submit"></label></p>
        </form>
    </section>

</div>

</body>
</html>